/*                      TAG SELECTORS                         */
h1{
    color:red;
    font-size: 200px;
}
/*img {
    background-color: red; comments in css.
}
*/
/*                       CLASS SELECTORS                      */

.Bacon {
    background-color: green;
}

.Broccoli {
    background-color: red;
}
body
{
    background-color: aqua;
}
/*                      ID SELECTORS                           */
#heading {
    color: blue;
}
.circular { border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; }

/* there can be multiple classes with the same name but only 1 id with the same name.*/
/* there can be 2 names with the classes but there can't be 2 names with ID's */

img:hover{ 
    background-color: gold;
}